<!DOCTYPE html>
<html>

<head>
    <title><%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h3><%= title %> </h3>
    <% programs.forEach(program => { %>
    <table>
        <caption><%= program.name %> </caption>
        <th>Exercise</th>
        <th>Description</th>
        <th>Repetitions</th>
        <th>Sets</th>
        <% program.exercises.forEach(exercise => { %>
        <tr>
            <td><%= exercise.name %> </td>
            <td><%= exercise.description %></td>
            <td><%= exercise.sets %></td>
            <td><%= exercise.repetitions %></td>
        </tr>
        <% }) %>
    </table>
    <br/>
    <% }) %>
</body>

</html>